#user, #pass{ width: 250px; 
               height: 30px;
			   margin-top : 20px;
			   margin-left : 200px;
			   }
#button { width: 60px; 
		height : 30px;
		background-color : rgb(201,12,12);
		border: 1px solid white;
		border-radius: 1px;
		color: white;
		 margin-top : 20px;
		 margin-left : 380px}
#remember { margin-top : 20px;
			margin-left : 200px;}
			  
#h{margin-left :200px;}
#signup { margin-top: 50px;}
#user1, #pass1 {width: 250px; 
               height: 30px;
			   margin-top : 20px;
			   margin-left : 400px;
			   }
#hx{ margin-left: 400px;}
#signin{ margin-left: 400px;
		margin-top: -295px;}
#button1
{ width: 60px; 
		height : 30px;
		border: 1px solid white;
		border-radius: 1px;
		background-color : rgb(201,12,12);
		color: white;
		 margin-top : 20px;
		 margin-left : 580px;}
		 
}